MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/db
ADMIN_EMAIL=alonesurvivor03@gmail.com
ADMIN_PASSWORD=1234567890
JWT_ACCESS_SECRET=your_random_access_secret_here
JWT_REFRESH_SECRET=your_random_refresh_secret_here
CORS_ORIGIN=https://your-frontend.vercel.app
